<div class="container">
  <div class="row">
    <!-- 左：User info + New book（サイドバー） -->
    <div class="col-md-3">
      <h1>User info</h1>

      <div class="avatar-box">
        <%= link_to user_path(@user) do %>
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, class: "avatar-image" %>
          <% else %>
            <%= image_tag "no_image.jpg", class: "avatar-image" %>
          <% end %>
        <% end %>
      </div>

      <table>
        <tr>
          <th>name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= @user.introduction %></td>
        </tr>
      </table>

      <!-- 自分のユーザー編集リンク（テキスト無し） -->
      <%= link_to edit_user_path(@user), class: "user-action-box" do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>

      <h1>New book</h1>
      <%= form_with model: @book, url: books_path, local: true do |f| %>
        <h3>Title</h3>
        <%= f.text_field :title %>

        <h3>Opinion</h3>
        <%= f.text_area :body %>

        <div class="mt-2">
        <%= f.submit "Create Book" %>
        </div>

        <% end %>
    </div>

    <!-- 右：投稿一覧 -->
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>